* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #00000083;
}


header {
  background-color: #111827;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
}

header a{
  position: relative;
  top: -5px;
}

header div a img{
  position: relative;
  top: 10px;
}

.logo {
  font-size: 1.8em;
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #00c6cf;
}

h1 {
  color: #000000;
  margin: 50px;
  text-align: center;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    width: 375px;
    border-radius: 20px;
    padding: 1em;
}

.contenedor{
    background-color: #a5a2a2;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 32.6% 32.6% 32.6%;
    grid-template-rows: 4fr;
    gap: 1em;
    margin: 20px;
    

}

.btn{
  width: 100%;
  text-align: center;
}

button{
  width: 15%;
  margin: 20px;
  padding: 15px;
  font-size: 25px;
  cursor: pointer;
}

.contenedor div{
  text-align: center;
  background-color: #dcdcdc;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.contenedor div p{
    display: grid;
    grid-template-rows: 3fr, 4fr;
    font-size: 20px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 3px;
    
    
}

