* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(/IMAGENES/fondo\ h.jpg);
  
}


header {
  background-color: #111827;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
}

header a{
  position: relative;
  top: -5px;
}

header div a img{
  position: relative;
  top: 10px;
}

.logo {
  font-size: 1.8em;
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #00c6cf;
}

img{
  width: 30px;
}

h1{
  text-align: center;
  margin-top: 50px;
  color: white;
}

.contenedor{
  width: 100%;
  text-align: center;
  margin: 10px;
  padding: 30px;
}

.historia{
  width: 80%;
  border-radius: 30px;
  background-color: rgba(227, 241, 241, 0.571);
  padding: 50px;
  font-size: 20px;
  border: 1px solid;
}

.info{
  display: flex;
  margin-top: 70px;
}

section{
  display: block;
  border: 2px solid;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

.mision{
  background-color: #2e93cdb1;
}

.vision{
  background-color: rgba(221, 160, 221, 0.763);
}

.valores{
  background-color: rgba(144, 238, 144, 0.671);
}