* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #3a3a3a;
  color: #222;
  background-image: url(/IMAGENES/Fondo\ Perifericos.jpg);
  height: 100vh;
  

}


header {
  background-color: #111827;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
}

header a{
  position: relative;
  top: -5px;
}

header div a img{
  position: relative;
  top: 10px;
}

.logo {
  font-size: 1.8em;
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-family:  Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #00c6cf;
}

h1 {
  color: #ffffff;
  margin: 50px;
  text-align: center;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  top: 100px;
}

.informacion{
  border: 2px solid rgb(217, 193, 193);
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 20px rgb(8, 154, 139);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  margin: 40px;
  padding: 30px;
  color: #ffffff;
  width: 20%;
  height: 250px;
  position: relative;
  top: 100px;
}

.ubicacion{
  border-radius: 20px;
  color: #ffffff;
  margin: 20px;
  font-size: 20px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(58, 130, 105, 0.675);
  border: 2px solid;
}

section{
position: relative;
display: flex;
left: 425px;
top: -175px;
}

section button {
  width: 25%;
}

button{
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  transition: 2s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 3);
}

button:hover{
  box-shadow: 0 0 10px rgb(8, 154, 139);
  background-color: rgba(0, 0, 0, 0.798); 
}

a{
  text-decoration: none;
  color:#222
  
}

a:hover{
  color: rgb(255, 255, 255);

}
