* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f7fa;
  color: #222;
}


header {
  background-color: rgb(26, 26, 26);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
  box-shadow: 0 0 50px rgb(36, 147, 178, 0.5);

}

header a{
  position: relative;
  top: -5px;
}

header div a img{
  position: relative;
  top: 10px;
}

.logo {
  font-size: 1.8em;
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #00c6cf;
}

.hero {
  height: 90vh;
  background: url(/IMAGENES/Fondo\ pc.jpg)
    no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-text {
  background: transparent;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 50px rgb(36, 147, 178, 0.5);
  border: 2px solid ;
  padding: 40px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 2.5em;
}

.hero p {
  margin: 10px 0 20px;
  font-size: 1.2em;
}

.btn {
  background-color: #00c6cf;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #008c91;
}



